<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>DeCasteljau.py</string>
			<key>preferredName</key>
			<string>DeCasteljau</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Lukas Schneider</string>
	<key>developerURL</key>
	<string>https://www.revolvertype.com/</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>De Casteljau</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>8</string>
	<key>timeStamp</key>
	<real>1542351919.2648699</real>
	<key>version</key>
	<string>1.0</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
	  <key>repository</key>
	  <string>luke-snider/de-casteljau</string>
	  <key>summary</key>
	  <string>A live visualisation of the De Casteljau algorithm of curves.</string>
	</dict>
</dict>
</plist>
